nav {
    background-color: #fefffe;
    height: 80px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: #464750;
    border-radius: 15px;
}
.icon-location-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-input-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search-input-navbar svg{
    display: none;
}
.search-input{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4px;
    width: 70%;
}
.search-input-navbar{
    width: 50%;
}
.search-input input{
    font-size: 12px;
    border-radius: 6px;
    width: 100% !important;
}
.search-input label{
    font-size: 14px;
    opacity: 60%;
}
.weather-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.weather-info-container h5{
    margin-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
}
#menu-bar-sd{
    display: none;
}
#fetch-data{
    background-color:#409ac7 ;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: white;
    border-radius: 10px;
    height: 30px;
}
@media screen and (max-width:1393px){
    #menu-bar-sd{
        margin-top: auto;
        margin-bottom: auto;
        display: block;
    }
}
@media screen and (max-width: 780px) {
    nav{
        width: 90%;
    }
    .search-input input{
        font-size: 12px;
        border-radius: 6px;
        width: 120px !important;
    }
    #menu-bar-sd{
        margin-top: auto;
        margin-bottom: auto;
        display: block;
    }
    #weather-info-logo{
        display: none;
    }
    #menu-bar-sd{
        display: block;
    }
}
@media screen and (max-width:701px) {
    .icon-location-container{
        display: none;
    }
    nav{
        width: 95%;
    }
    .search-input-navbar {
        width: 50%;
        margin-left: 50px;
    }
}