.News-page-upload{
    position: relative;
}
.news-page{
    height: 80vh;
    overflow-y: scroll;
    padding-top: 30px;
}
.news-page-nav{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#upload-news{
    height: 40px;
    padding: 10px;
    margin-right: 50px;
    width: 100px;
    background-color: #4e46e5;
    border: none;
    color: white;
}
.news-container-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}
.grid-news-container{
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
    gap: 10px;
    place-items: center;
}
.upload-page-news{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}
@media screen and (max-width:1214px) and (min-width:992px) {
    .grid-news-container{
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        gap: 30px;
    }
    .grid-news-container .news-card{
        margin-top: 20px;
    }
}
@media screen and (max-width:992px) and (min-width:718px){
    .grid-news-container{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-news-container .news-card{
        margin-top: 20px;
    }
}
@media screen and (max-width:717px) {
    .grid-news-container {
        grid-template-columns: repeat(1,1fr);
    }
}