.homepage-weather{
    height: 100%;
    width: 100%;
    margin-top: 10px;   
    overflow-x: hidden;
    max-height: 80vh;
    overflow-y: scroll;
}
.homepage-weather::-webkit-scrollbar{
    display: none;
}
.section-1-container{
    width: 100%;
    min-height: 500px;
    display: flex;
    height: max-content;
    max-width: 100vw;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.other-cities-container{
    width: 30%;
}
.widget-highlights-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height:max-content;
    min-height: 500px;
    padding-left: 10px;
}
.weekly-weather-container{
    width: 90%;
    background: #409AC7;
    background: linear-gradient(74deg, rgba(64, 154, 199, 1) 87%, rgba(15, 199, 172, 1) 100%);
    padding: 10px;
    max-width: 705px;
    height: max-content;
    color: #fefffe;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 0.09rem black;
}
.weather-img-bg-homepage{
    height: 100px;
    width: 100px;
}
.weather-img-bg-homepage img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.weather-img-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin-left: 10px;
}
.weekly-weather-container h4{
    color: #ebebec;
}
.flex-container-row{
    display: flex;
}
#weather-temp-info{
    height: max-content;
    margin-top: auto;
    margin-left: 10px;
}
.flex-container-row label{
    width: 100%;
}
#weather-temp-info h1{
    margin-top: auto;
    font-size: 30px;
    height: max-content;
}
.weekly-card-container{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    margin-left: 20px;
}
.weekly-card-container::-webkit-scrollbar{
    display: none;
}
.homepage-highlights-container{
    width: 97%;
    height: 100%;
    min-height: 150px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}
#Highlight-text{
    font-weight:500;
    margin-right:auto;
    margin-top: 20px;
}
.latest-news-section{
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 20px;
    height: max-content;
    width:100%;
    display: flex;
    flex-direction: column;
}
.news-section-container{
    gap: 15px;
    display: flex;
    height: max-content;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.getupdates-email{
    width: 100%;
    padding-left: 10px;
}
.email-component-container{
    background-color: white;
    display: flex;
    width: 93%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.city-card-container{
    min-height: 450px;
    min-width: 350px;
    height: max-content;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    margin: 0;
    place-items: center;
}
@media screen and (max-width:700px) {
    .homepage-highlights-container{
        grid-template-columns: repeat(1,1fr) !important;
    }
}
@media screen and (max-width:1393px) and (min-width:990px){
    .homepage-highlights-container{
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding-left: 10px;
        overflow-x: hidden;
        padding: 10px;
    }
    .widget-highlights-container{
        width: 100%;
    }
    .other-cities-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-1-container{
        flex-direction: column;
        align-items: center;
    }
    .weekly-weather-container{
        width: 95%;
        margin: 0 auto;
        max-width: 100%;
    }
    .widget-highlights-container{
        padding: 0;
    }
}
@media screen and (max-width:990px) and (min-width:500px){
    .homepage-highlights-container{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .widget-highlights-container{
        width: 100%;
    }
    .other-cities-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-1-container{
        flex-direction: column;
        align-items: center;
    }
    .weekly-weather-container{
        width: 93%;
        margin: 0 auto;
        max-width: 100%;
    }
    .widget-highlights-container{
        padding: 0;
    }
    .form-container-email button{
        margin-top: 10px;
    }
}
@media screen and (max-width:500px){
    .homepage-highlights-container{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        justify-content: center;
        width: 100%;
        overflow-x: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .widget-highlights-container{
        width: 100%;
    }
    .weekly-card-container{
        margin-left: 0;
    }
    .flex-container-row{
        flex-direction: column;
    }
    .other-cities-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-1-container{
        flex-direction: column;
    }
    .weekly-weather-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 20px;
        margin-left: auto;
        max-width: 100%;
    }
    .widget-highlights-container{
        padding: 0;
    }
    .latest-news-section{
        padding: 0;
    }

}
