.main-layout{
    display: flex;
    max-width: 100vw;
    height: max-content;
    width: 100vw;
    overflow-x: hidden;
}
.page-content{
    flex: 1;
    padding: 10px;
    min-height: calc(100vh-60px);
    max-width: 100vw;
}