
.city-card{
    width: 60%;
    padding: 15px;
    flex-direction: column;
    background-color: #EFF3F9;
    min-height: 50px;
    height: max-content;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
}
.card-img-container{
    height: 60px;
    width: 60px;
    background-color: red;
}
.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-container-card{
    display: flex;
    gap: 3px;
    opacity: 60%;
}
.flex-container-card p {
    font-size: 12px;
}
.cards-container{
    height:400px;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
#temperature-text{
    margin-left: auto;
    margin-right: 20px;
}
#see-more-card-button{
    height: 40px;
    background-color: #409ac7;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    gap: 5px;
    border-radius: 10px;
}
@media screen and (max-width:1393px) and  (min-width:560px){
    .cards-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:560px){
    .cards-container{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:390px) {
    .city-card-container{
        min-width: 0;
    }
}